# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore npm's debug log file
npm-debug.log

# Ignore any build output or compiled files
/build/
/dist/
/out/